<%- include('header') -%>
<h1><%= title %></h1>

<div style="height: 700px">
<table id="files" class="display dataTable" cellspacing=0 cellpadding=0>
	<thead>
		<tr>
			<th>Filename</th>
			<th>Type</th>
			<th>Network</th>
			<th>Channel</th>
			<th>Nick</th>
			<th>Pack #</th>
			<th>DLs</th>
			<th>Size</th>
			<th>Year</th>
			<th>Updated</th>
		</tr>
	</thead>
	<tbody>
	<% results.forEach(function(r, index) { %>
		<tr>
			<td><%= r.filename %></td>
			<td><%= r.type %></td>
			<td><%= r.network %></td>
			<td><%= r.channel %></td>
			<td><%= r.nickname %></td>
			<td>#<%= r.packno %></td>
			<td><%= r.downloads %></td>
			<td><%= r.size %></td>
			<td><%= r.year %></td>
			<td><%= duration(r.lastupdate_ms_ago,  { largest: 2 }) %></td>
		</tr>
	 <% }) %>
	</tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready( function () {
	$('#files').DataTable({
		scrollY: 400, 
		fixedHeader: true,
		deferRender: true, 
		scroller: true,
        "processing": true,
        "serverSide": true,
        "ajax": "/packs/json",
        "pageLength": 100,
        "search": { return: true },
        "columns": [
        	{ "data": "filename" },
        	{ "data": "type" },
            { "data": "network" },
            { "data": "channel" },
            { "data": "nickname" },
            { "data": "packno" },
            { "data": "downloads" },
            { "data": "size" },
            { "data": "year" },
            { "data": "lastupdate_ms_ago" }
        ]		
	});
    
} );
</script>

<%- include('footer') -%>
