<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/jquery.dataTables.css" />
  <link rel="stylesheet" href="/javascripts/jquery-ui-1.13.1.custom/jquery-ui.css" />

  <script src="/javascripts/jquery-3.5.1.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui-1.13.1.custom/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/javascripts/dataTables.fixedHeader.min.js" type="text/javascript"></script>
  <script src="/javascripts/dataTables.scroller.min.js" type="text/javascript"></script>

</head>
<body>