<%- include('header') -%>

<div data-role="page" class="ui-responsive-panel" id="panel-responsive-index" data-title="XDCCB Main">

    <div data-role="header">
        <h1>XDCCB</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        <a href="#add-form" data-icon="gear" data-iconpos="notext">Add</a>
    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

    	<h1>XDCCB</h1>

        <p>wtf</p>


        <a href="../" data-rel="back" data-ajax="false" class="ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Back</a>

	</div><!-- /content -->

	<div data-role="panel" data-display="push" data-theme="b" id="nav-panel">

		<ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li><a href="#panel-responsive-packs">Packs</a></li>
                <li><a href="#panel-responsive-browse">Browse</a></li>
                <li><a href="#panel-responsive-downloads">Downloads</a></li>
		</ul>

	</div><!-- /panel -->

	<div data-role="panel" data-position="right" data-display="reveal" data-theme="a" id="add-form">

        <form class="userform">

        	<h2>Login</h2>

            <label for="name">Username:</label>
            <input type="text" name="name" id="name" value="" data-clear-btn="true" data-mini="true">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">

            <div class="ui-grid-a">
                <div class="ui-block-a"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini">Cancel</a></div>
                <div class="ui-block-b"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Save</a></div>
			</div>
        </form>

	</div><!-- /panel -->

</div><!-- /page -->

<div data-role="page" id="panel-responsive-packs">
    <div data-role="header">
        <h1>XDCC Packs</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content">
        <p>All Packs</p>
        <a href="#panel-responsive-index" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini ui-icon-back ui-btn-icon-left">Back</a>
    </div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="panel-responsive-browse">
    <div data-role="header">
        <h1>Browse</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content">
        <p>Browse Movies and TV shows</p>
        <a href="#panel-responsive-index" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini ui-icon-back ui-btn-icon-left">Back</a>
    </div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="panel-responsive-downloads">
    <div data-role="header">
        <h1>Downloads</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content">
        <p>Downloads and queue status</p>
        <a href="#panel-responsive-index" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini ui-icon-back ui-btn-icon-left">Back</a>
    </div><!-- /content -->
</div><!-- /page -->

<%- include('footer') -%>
